@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #fcfbf9;
}

body {
  min-height: 100vh;

  background: #fcfbf9;
  color: #102534;

  font-family:
    var(--font-sans),
    Arial,
    sans-serif;

  -webkit-font-smoothing:
    antialiased;
}

button,
input,
textarea {
  font: inherit;
}